.nav-container {
	background-color: black;
	color: rgba(255, 255, 255, 0.712);
	
}

.nav-container-sticky {
	position: fixed;
	top: 0;
	width: 100%;
}

ul {
	list-style-type: none;
	overflow: hidden;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
    display: flex;
    justify-content: flex-end;
  }
  
  li {
	float: left;
  }
  
  li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
    transition: all 0.5s;
  }
  
  li a:hover:not(.active) {
	background-color: #111;
  }

  
.active {
	background-color: #04AA6D;
}

.transform:hover:not(.active) {
    transform: scale(1.1);
}